<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Option</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Hiten Maheswari</td>
      <td>8688745418</td>
      <td><button class="btn btn-danger">Delete</button></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Aishwariya Thakur</td>
      <td>9877415475</td>
      <td><button class="btn btn-danger">Delete</button></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Aniket Chikane</td>
      <td>8162547894</td>
      <td><button class="btn btn-danger">Delete</button></td>
    </tr>
  </tbody>
</table>
