<!-- <header>
  <h1>This is static header</h1>
  <div class="dropdown">
    <a href="#">Settings</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Change Password</a></li>
      <li><a class="dropdown-item" href="#">Delete Profile</a></li>
      <li><a class="dropdown-item" href="#">Logout</a></li>
    </ul>
  </div>
</header> -->
<app-header></app-header>
<hr>
<!-- <app-login></app-login> -->
<!-- <app-register></app-register> -->
<app-dashboard></app-dashboard>
<!-- <app-settings></app-settings> -->
