<!--<div>-->
<!--  <code>promise|async</code>:-->
<!--  <button (click)="clicked()" class="btn btn-danger">{{ arrived ? 'Reset' : 'Resolve' }}</button>-->
<!--  <span>Wait for it... {{ greeting | async }}</span>-->
<!--</div>-->
<!--<div>-->

<!--  <p>A: {{a | currency}}</p>-->

<!--  <p>A: {{a | currency:'INR'}}</p>-->

<!--  <p>A: {{a | currency:'INR':'code'}}</p>-->

<!--  <p>B: {{b | currency:'INR':'symbol':'4.2-2'}}</p>-->

<!--  <p>B: {{b | currency:'INR':'symbol-narrow':'4.2-2'}}</p>-->

<!--  <p>B: {{b | currency:'INR':'symbol':'4.2-2':'fr'}}</p>-->

<!--  <p>B: {{b | currency:'INR'}}</p>-->
<!--</div>-->

<!--<div>-->
<!--  <p>Without JSON pipe:</p>-->
<!--  <pre>{{object}}</pre>-->
<!--  <p>With JSON pipe:</p>-->
<!--  <pre>{{object | json}}</pre>-->
<!--</div>-->

<!--<span>-->
<!--  <p>Object</p>-->
<!--  <div *ngFor="let item of object2 | keyvalue">-->
<!--    {{item.key}}:{{item.value}}-->
<!--  </div>-->
<!--  <p>Map</p>-->
<!--  <div *ngFor="let item of map | keyvalue">-->
<!--    {{item.key}}:{{item.value}}-->
<!--  </div>-->
<!--</span>-->

<h2>Power Booster</h2>
<p>Super power boost: {{2 | exponentialStrength | currency: 'INR'}}</p>
