<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <p style="font-size: 1.5rem">Profile Summary</p>
      <hr>
      <div class="row">
        <p class="col-2"><strong>Birthday:</strong></p>
        <p class="col-2">23/01/1997</p>
      </div>
      <div class="row">
        <p class="col-2"><strong>Mobile:</strong></p>
        <p class="col-2">8422876159</p>
      </div>
    </div>
    <div class="col-8 border-start border-2">
      <p style="font-size: 1.5rem" class="fw-bold">Hi, Hiten!</p>
      <hr>
<!--      <p>Total Contacts: 0</p>-->
     <!-- <app-add-contact></app-add-contact> -->
     <!-- <app-search-contacts></app-search-contacts> -->
     <!-- <hr> -->
     <!-- <app-show-all-contacts></app-show-all-contacts> -->
      <app-settings></app-settings>
    </div>
  </div>
</div>
