<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <input type="text" placeholder="First Name" class="form-control">
    </div>
    <div class="col-2">
      <input type="text" placeholder="Last Name" class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <label for="phoneNumber" class="form-label">Phone</label>
      <input type="text" id="phoneNumber" placeholder="First Name" class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <label for="birthDate" class="form-label">Birth Date</label>
      <input type="date" id="birthDate" class="form-control">
      <p>By clicking  Sign Up, you agree to our <a href="#">Terms</a> & <a href="#">Policy</a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <button class="btn btn-primary">Sign Up</button>
    </div>
  </div>
  <hr>
  <a href="#">Back to login</a>
</div>
