<div class="container">
  <app-cockpit
    (serverCreated)="onServerAdded($event)"
    (blueprintCreated)="onBlueprintAdded($event)"></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-12">
      <button class="btn btn-primary" (click)="onChangeFirst()">Changed</button>
      <button class="btn btn-danger" (click)="onDestroyFirst()">Destroy</button>
      <app-server-element *ngFor="let serverElement of serverElements"
      [srvElement]="serverElement"
      [name]="serverElement.name">
<!--        We can add custom content here and use ngContent directive to add custom html to this component -->
        <p #contentParagraph>
          <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
          <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
        </p>
      </app-server-element>
      <p #sampleText>Random Text</p>
      <button class="btn btn-secondary" (click)="changeText()">Click Me</button>
    </div>
  </div>
</div>
