<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <input type="email" id="email" class="form-control" placeholder="Enter Email ID">
    </div>
    <div class="col-2">
      <input type="password" id="password" class="form-control" placeholder="Enter Password">
    </div>
    <div class="col-2">
      <button class="btn btn-primary">Login</button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-2">
      <button class="btn btn-success">Create Profile</button>
    </div>
  </div>
</div>
